<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"/>
    <style>
        video {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <script src="/js/hls.js-0.6.6/dist/hls.min.js"></script>
    <div class="container">
        <video height="2880" width="5120" controls="controls" autoplay="autoplay" type="application/x-mpegURL" id="player"></video>
        <form th:action="@{/video/stop}" method="get">
            <input class="btn btn-warning" type="submit" value="stop transcoding"/>
        </form>
    </div>
    <script th:inline="javascript">
        var m3u8 = [[${html5PlayerModel.PlaylistURI}]];
        if(Hls.isSupported()) {
            var video = document.getElementById('player');
            var hls = new Hls();
            hls.loadSource(m3u8);
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED,function() {
                video.play();
            });
        }
    </script>
</body>
</html>