<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: common_header(~{::title}, ~{::link})">
    <title>...</title>
    <link rel="stylesheet" th:href="@{/css/player.css}"/>
</head>
<body>
    <script src="/js/hlsjs/hls.min.js"></script>
    <div class="container">
        <video height="2880" width="5120" controls="controls" autoplay="autoplay" type="application/x-mpegURL" id="player"></video>
        <form th:action="@{/video/stop}" method="get">
            <input class="btn btn-warning" type="submit" value="stop transcoding"/>
        </form>
    </div>
    <script th:inline="javascript">
        var m3u8 = [[${html5PlayerModel.PlaylistURI}]];
        if(Hls.isSupported()) {
            var video = document.getElementById('player');
            var hls = new Hls();
            hls.loadSource(m3u8);
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED,function() {
                video.play();
            });
        }
    </script>
</body>
</html>