<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css}"/>
    </head>
</head>
<body>

<div class="container">

    <h1>Chukasa</h1>

<ul class="nav nav-tabs">
    <li><a href="#tabUSBCamera" data-toggle="tab">USB Camera</a></li>
    <li class="active"><a href="#tabCapture" data-toggle="tab">Capture Card</a></li>
    <li><a href="#tabFile" data-toggle="tab">Video File</a></li>
</ul>

<div class="tab-content">

    <!-- USB_CAMERA -->
    <div class="tab-pane" id="tabUSBCamera">

        <form th:action="@{/video}" th:object="${chukasaSettings}" method="post">

            <input type = "hidden" id = "streamingTypeUSBCamera" name = "streamingType" value = "USB_CAMERA"/>
            <input type = "hidden" id = "audioBitrateUSBCamera" name = "audioBitrate" value = "128"/>
            <input type = "hidden" id = "encryptedUSBCamera" name = "encrypted" value = "true"/>

            <div class="form-group">
                <label for="captureResolutionTypeUSBCamera">Capture Resolution</label>
                <select class="form-control" id="captureResolutionTypeUSBCamera" name="captureResolutionType">
                    <option value="HD" selected="selected">HD (1280 x 720)</option>
                    <option value="FULL_HD">Full HD (1920 x 1080)</option>
                </select>
            </div>

            <div class="form-group">
                <label for="videoResolutionTypeUSBCamera">Video Resolution</label>
                <select class="form-control" id="videoResolutionTypeUSBCamera" name="videoResolutionType">
                    <option value="HD" selected="selected">HD (1280 x 720)</option>
                    <option value="FULL_HD">Full HD (1920 x 1080)</option>
                </select>
            </div>

            <div class="form-group">
                <label for="videoBitrateUSBCamera">Video Bitrate [Mbps]</label>
                <select class="form-control" id="videoBitrateUSBCamera" name="videoBitrate">
                    <option value="800">0.8</option>
                    <option value="1500">1.5</option>
                    <option value="3000">3</option>
                    <option value="6000" selected="selected">6</option>
                    <option value="10000">10</option>
                </select>
            </div>

            <div class="form-group">
                <label for="totalUSBCameraLivedurationUSBCamera">Live Duration [s]</label>
                <input type="text" class="form-control" id="totalUSBCameraLivedurationUSBCamera" name="totalUSBCameraLiveduration" value="600"/>
            </div>

            <input class="btn btn-primary" type="submit" value="Start HTTP Live Streaming (HLS)"/>

        </form>

    </div>

    <!-- CAPTURE -->
    <div class="tab-pane active" id="tabCapture">

        <form th:action="@{/video}" th:object="${chukasaSettings}" method="post">

            <input type = "hidden" id = "streamingTypeCapture" name = "streamingType" value = "CAPTURE"/>
            <input type = "hidden" id = "audioBitrateCapture" name = "audioBitrate" value = "128"/>
            <input type = "hidden" id = "encryptedCapture" name = "encrypted" value = "true"/>

            <div class="form-group">
                <label for="chCapture">Physical Channel</label>
                <select class="form-control" id="chCapture" name="ch">
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                </select>
            </div>

            <div class="form-group">
                <label for="videoResolutionTypeCapture">Video Resolution</label>
                <select class="form-control" id="videoResolutionTypeCapture" name="videoResolutionType">
                    <option value="HD">HD (1280 x 720)</option>
                    <option value="FULL_HD" selected="selected">Full HD (1920 x 1080)</option>
                </select>
            </div>

            <div class="form-group">
                <label for="videoBitrateCapture">Video Bitrate [Mbps]</label>
                <select class="form-control" id="videoBitrateCapture" name="videoBitrate">
                    <option value="800">0.8</option>
                    <option value="1500">1.5</option>
                    <option value="3000">3</option>
                    <option value="6000" selected="selected">6</option>
                    <option value="10000">10</option>
                </select>
            </div>

            <input class="btn btn-primary" type="submit" value="Start HTTP Live Streaming (HLS)"/>

        </form>

        <!--<form th:action="@{/video}">-->
            <!--<input type = "hidden" name = "streamingtype" value = "CAPTURE"/>-->
            <!--<input type = "hidden" name = "duration" value = "0"/>-->

            <!--<div class="form-group">-->
                <!--<label for="InputSelect">Physical Channel</label>-->
                <!--<select class="form-control" id="InputSelect" name="ch">-->
                    <!--<option value="20">20</option>-->
                    <!--<option value="21">21</option>-->
                    <!--<option value="22">22</option>-->
                    <!--<option value="23">23</option>-->
                    <!--<option value="24">24</option>-->
                    <!--<option value="25">25</option>-->
                    <!--<option value="26">26</option>-->
                    <!--<option value="27">27</option>-->
                    <!--<option value="28">28</option>-->
                    <!--<option value="29">29</option>-->
                <!--</select>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label for="InputSelect">Video Bitrate [Mbps]</label>-->
                <!--<select class="form-control" id="InputSelect2" name="videobitrate">-->
                    <!--<option value="800">0.8</option>-->
                    <!--<option value="1500">1.5</option>-->
                    <!--<option value="3000">3</option>-->
                    <!--<option value="6000">6</option>-->
                    <!--<option value="10000">10</option>-->
                <!--</select>-->
            <!--</div>-->

            <!--<div class="radio">-->
                <!--<label>-->
                    <!--<input type="radio" name="encrypted" id="optionsRadios1" value="true" checked="checked"/>Encrypted Stream-->
                <!--</label>-->
            <!--</div>-->
            <!--<div class="radio">-->
                <!--<label>-->
                    <!--<input type="radio" name="encrypted" id="optionsRadios2" value="false"/>Not Encrypted Stream-->
                <!--</label>-->
            <!--</div>-->

            <!--<input class="btn btn-primary" type="submit" value="Start HTTP Live Streaming (HLS)"/>-->

        <!--</form>-->

    </div>
    <div class="tab-pane" id="tabFile">

    </div>
</div>

    <hr/>

    <form th:action="@{/video/remove}" method="get">
        <input class="btn btn-warning" type="submit" value="remove segmented files on server"/>
    </form>

</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

</body>
</html>