<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: common_header(~{::title},~{})">
    <title>chukasa</title>
</head>

<body>
<a href="#" title="chukasa"><span><img src="/images/chukasa.jpg" height="180" width="211"></img></span></a>
<form th:action="@{/}" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="">
    </div>
    <div class="form-group">
        <input class="btn btn-default" type="submit" value="login"/>
    </div>
</form>
<hr />
<div th:insert="footer :: footer"></div>
</body>
</html>