<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"/>
    <style>
        video {
            max-width: 100%;
            height: auto;
        }
    </style>
    <script src="/js/mediaelement-2.20.1/build/jquery.js"></script>
    <script src="/js/mediaelement-2.20.1/build/mediaelement-and-player.min.js"></script>
    <link rel="stylesheet" href="/js/mediaelement-2.20.1/build/mediaelementplayer.min.css" />
</head>
<body>
    <div class="container">
        <video th:src="${html5PlayerModel.PlaylistURI}" height="2880" width="5120" controls="controls" autoplay="autoplay" type="application/x-mpegURL" id="player"></video>
        <span id="player-mode"></span>
        <form th:action="@{/video/stop}" method="get">
            <input class="btn btn-warning" type="submit" value="stop transcoding"/>
        </form>
    </div>
    <script>
        $('video').mediaelementplayer({
            success: function(media, node, player) {
                $('#' + node.id + '-mode').html('mode: ' + media.pluginType);
            }
        });
    </script>
</body>
</html>