<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: common_header(~{::title}, ~{::link})">
    <title>...</title>
    <link rel="stylesheet" th:href="@{/css/player.css}"/>
</head>
<body>
    <div class="container">
        <video th:src="${html5PlayerModel.PlaylistURI}" height="2880" width="5120" controls="controls" autoplay="autoplay" type="application/x-mpegURL"></video>
        <form th:action="@{/video/stop}" method="get">
            <input class="btn btn-warning" type="submit" value="stop transcoding"/>
        </form>
    </div>
</body>
</html>

