<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css}"/>
    </head>
</head>
<body>
    <div class="container">
        <video th:src="${html5PlayerModel.PlaylistURI}" height="432" width="768" controls="controls" autoplay="autoplay"></video>
        <form th:action="@{/video/stop}" method="get">
            <input class="btn btn-warning" type="submit" value="stop transcoding"/>
        </form>
        <p>This player supports ONLY Safari (iOS 9, OS X 10.11).</p>
    </div>

</body>
</html>

