<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"/>
</head>
<body>

<div class="container">

    <h1>System</h1>

    <ul>
        <li>FFmpeg: <span th:text="${isFFmpeg}"></span></li>
        <li>PTx: <span th:text="${isPTx}"></span></li>
        <li>recpt1: <span th:text="${isRecpt1}"></span></li>
        <li>epgdump: <span th:text="${isEpgdump}"></span></li>
        <li>MongoDB: <span th:text="${isMongoDB}"></span></li>
        <li>Web Camera: <span th:text="${isWebCamera}"></span></li>
    </ul>


    <div th:text="${systemProperties}"></div>


</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

</body>
</html>