<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
              th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"/>
    </head>
</head>
<body>

<table class="table">
    <tr th:each="program : ${programList}">
        <form th:action="@{/programs/create}" method="post" th:object="${reservedProgram}">
            <input th:value="${program.channel}" type = "hidden" id = "channel" name = "channel"/>
            <input th:value="${program.title}" type = "hidden" id = "title" name = "title"/>
            <input th:value="${program.detail}" type = "hidden" id = "detail" name = "detail"/>
            <input th:value="${program.start}" type = "hidden" id = "start" name = "start"/>
            <input th:value="${program.end}" type = "hidden" id = "end" name = "end"/>
            <input th:value="${program.duration}" type = "hidden" id = "duration" name = "duration"/>
            <input th:value="${program.physicalChannel}" type = "hidden" id = "physicalChannel" name = "physicalChannel"/>
            <input th:value="${program.channelName}" type = "hidden" id = "channelName" name = "channelName"/>
            <input th:value="${program.beginDate}" type = "hidden" id = "beginDate" name = "beginDate"/>
            <input th:value="${program.endDate}" type = "hidden" id = "endDate" name = "endDate"/>
            <td th:text="${program.physicalChannel}">physicalChannel</td>
            <td th:text="${program.channelName}">channelName</td>
            <td th:text="${program.start}">start</td>
            <td th:text="${program.end}">end</td>
            <td th:text="${program.beginDate}">beginDate</td>
            <td th:text="${program.endDate}">endDate</td>
            <td th:text="${program.duration}">duration</td>
            <td th:text="${program.title}">title</td>
            <td th:text="${program.detail}">summary</td>
            <td><input class="btn btn-primary" type="submit" value="Reserve"/></td>
        </form>
    </tr>
</table>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

</body>
</html>